<div id="<%= dom_id ticket %>">
  <p>
    <strong>Titulo:</strong>
    <%= ticket.titulo %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= ticket.descricao %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= ticket.status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= ticket.user_id %>
  </p>

</div>
