<h1>Chamados</h1>

<%= form_with(url: tickets_path, method: :get, local: true, class: 'mb-4') do %>
  <div class="form-group">
    <%= label_tag :status, 'Filtrar por Status' %>
    <%= select_tag :status, options_for_select([['Todos', ''], ['Aberto', 'aberto'], ['Em Andamento', 'em andamento'], ['Fechado', 'fechado']], params[:status]), class: 'form-control' %>
  </div>
  <%= submit_tag 'Filtrar', class: 'btn btn-primary' %>  
<% end %>

<%= form_with url: tickets_path, method: :get, local: true, class: "mb-3 d-flex gap-2" do %>
  <%= text_field_tag :query, params[:query], placeholder: "Buscar por título ou descrição", class: "form-control" %>
  <%= submit_tag "Buscar", class: "btn btn-primary" %>
<% end %>


<div>
  <%= link_to "Ordenar por mais #{params[:order] == 'asc' ? 'recentes' : 'antigos'}", tickets_path(order: params[:order] == 'asc' ? 'desc' : 'asc', status: params[:status]), class: "btn btn-secondary mb-3" %>
</div>


<table class="table">
  <thead>
    <tr>
      <th>Título</th>
      <th>Descrição</th>
      <th>Status</th>
      <th>Prioridade</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.titulo %></td>
        <td><%= ticket.descricao %></td>
        <td><%= ticket.status %></td>
        <td><%= ticket.prioridade %></td>
        <td>
          <%= link_to 'Editar', edit_ticket_path(ticket), class: 'btn btn-warning' %>
          <%= button_to 'Excluir', ticket_path(ticket), method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' }, class: 'btn btn-danger' %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Novo Chamado', new_ticket_path, class: 'btn btn-primary' %>
