<h1>Tickets</h1>
<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Status</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.titulo %></td>
        <td><%= ticket.status %></td>
        <td>
          <%= link_to 'Show', ticket_path(ticket) %>
          <%= link_to 'Edit', edit_ticket_path(ticket) %>
          <%= link_to 'Destroy', ticket_path(ticket), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
